.city-container .link-wrapper .city-card {
    padding: 25px 15px;
}
.city-container .link-wrapper:nth-child(odd) {
    background-color:#468bd0e3;
}

.city-container .link-wrapper:nth-child(even) {
    background-color:#2f85c7ef;
}

.weather-info li {
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}
